@{
    ViewBag.Title = "ForgotPassword";
}

<body>

    @using (Html.BeginForm("ForgotPassword", "Account"))
    {
        @Html.TextBox("name")
        <input type="submit" value="Send" />
    }
</body>